.machine-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    /* Adjusting height to exclude header */
    position: relative;
}

.machine-list {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    width: 80%;
    padding: 10px;
    justify-content: center;
    /* Ensures the machine cards are centered in the list */
}

.machine-card {
    flex: 0 0 auto;
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #202020;
    text-align: center;
    /* Center content inside the card */
}

.nav-arrow {
    background: none;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-arrow.left {
    left: 0;
}

.nav-arrow.right {
    right: 0;
}

button {
    padding: 8px 15px;
    /* Smaller button padding */
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    background-color: #202020;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    color: white;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  