@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");

:root {
  --primary: #de4f61;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
  transition: 0.2s linear;
}

body {
  background: #080b10;
  color: var(--white);
}

section {
  padding: 5rem 7%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5rem;
}

.heading {
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.btn {
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #d14b5d;
  z-index: -1;
  transition: 0.3s linear;
}

.btn::before {
  left: 0;
}

.btn::after {
  right: 0;
}

.btn:hover:before,
.btn:hover::after {
  width: 100%;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  background: linear-gradient(90deg, #8b0000, #000000);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header.active {
  background: #040608;
  padding: 2rem 9%;
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--white);
}

.header .logo i {
  padding-right: 0.5rem;
  color: var(--primary);
}

.header .navbar a {
  font-size: 2rem;
  color: var(--white);
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--primary);
}

.header .navbar a.active,
.header .navbar a:hover {
  color: var(--primary);
}

#menu {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--primary);
  cursor: pointer;
  display: none;
}

/* end */

/* home */

.home {
  background: url(/images/home.jpeg) no-repeat;
  min-height: 110vh;
  display: flex;
  align-items: center;
  background-size: contain;
  background-position: right center;
}

.home .content {
  max-width: 55rem;
}

.home .content h3 {
  font-size: 7rem;
  color: var(--white);
  text-transform: uppercase;
  line-height: 1.2;
}

.home .content h3 span {
  color: var(--primary);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 0;
  line-height: 2;
}

/* end */

/* about */

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content span {
  font-size: 2.5rem;
  color: var(--primary);
}

.about .row .content h3 {
  font-size: 2.5rem;
  color: var(--white);
  padding: 1rem 0;
}

.about .row .content p {
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 0;
  line-height: 2;
}

.about .row .content ul li {
  font-size: 1.7rem;
  color: var(--white);
  padding-top: 1.5rem;
}

.about .row .content ul li i {
  color: var(--primary);
  padding-right: 1rem;
}

.about .row .content .btn {
  margin: 3rem 0;
}

.about .row .image {
  flex: 1 1 30rem;
}

.about .row .image img {
  width: 100%;
  height: 100%;
}

/* end */

/* services */

.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services .box-container .box {
  height: 25rem;
  flex: 1 1 30rem;
  border: 1rem solid var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.services .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services .box-container .box .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

.services .box-container .box:hover .content {
  transform: translate(-50%, -50%) scale(1);
}

.services .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.services .box-container .box .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

/* end */

/* counter */

.counter {
  background: url(../images/bg.jpg) no-repeat;
  background-attachment: fixed;
}

.counter .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.counter .box-container .box {
  text-align: center;
}

.counter .box-container .box h3 {
  font-size: 5rem;
  color: var(--white);
}

.counter .box-container .box p {
  color: var(--white);
  font-size: 2rem;
}

/* end */

/* pricing */

.pricing .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.pricing .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary);
  padding-top: 1rem;
}

.pricing .box-container .box .price {
  font-size: 6rem;
  padding-top: 1rem;
  font-weight: bolder;
}

.pricing .box-container .box .price span {
  font-size: 2rem;
  font-weight: normal;
}

.pricing .box-container .box .month {
  font-size: 2rem;
  color: #666;
}

.pricing .box-container .box .list {
  padding: 1rem 0;
}

.pricing .box-container .box .list p {
  font-size: 1.7rem;
  color: #ccc;
  line-height: 2;
}

.pricing .box-container .box .list p i {
  color: var(--primary);
  padding-right: 0.5rem;
}

.pricing .box-container .box .list p i.fa-times {
  color: var(--white);
}

/* end */

/* team*/

.team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.team .box-container .box {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.team .box-container .box .image {
  height: 36rem;
  width: 100%;
  overflow: hidden;
}

.team .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}

.team .box-container .box .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.team .box-container .box .content p {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.team .box-container .box .content .share i {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  font-size: 2rem;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
  margin-left: 0.5rem;
  cursor: pointer;
}

.team .box-container .box .content .share i:hover {
  color: var(--white);
  background: var(--primary);
}

/* end */

/* footer */

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--primary);
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: var(--white);
}

.footer .box-container .box a i {
  color: var(--primary);
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: var(--primary);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .share {
  padding-top: 2rem;
  text-align: center;
}

.footer .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: var(--primary);
  border: 0.1rem solid var(--primary);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  color: var(--white);
  background: var(--primary);
  transform: rotate(360deg);
}

.footer .credit {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  color: var(--white);
}

.footer .credit span {
  color: var(--primary);
}

/* end */

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu {
    display: inline-block;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #040608;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
  .home {
    background-position: left;
  }
  .home .content h3 {
    font-size: 5rem;
  }
  .team .box-container .box .image {
    height: 56rem;
  }

  .team .box-container .box .image img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content h3 {
    font-size: 4rem;
  }
  .team .box-container .box .image {
    height: 38rem;
  }
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(90deg, #8B0000, #4B0000); /* Gradient background */
  color: white;
}

.header .logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header .logo i {
  margin-right: 10px;
  font-size: 28px;
}

.header .navbar a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.header .navbar a.active {
  text-decoration: underline;
}

.header .logout-btn {
  background-color: #FF6347;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header .logout-btn:hover {
  background-color: #FF4500;
}

/* Optional: Add responsive behavior */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar {
    margin-top: 10px;
  }
}
/* General body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #f5f5f5; /* Light text color */
}

/* Header styles */
.header {
  background-color: #8B0000; /* Red color */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.header .logo i {
  margin-right: 10px;
}

.header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header nav a:hover {
  color: #ffcccc;
}

/* Add padding below the header */
main {
  padding: 20px;
}

/* Machine list container with scrollable navigation */
.machine-list {
  display: flex;
  overflow-x: auto; /* Horizontal scrollable */
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth; /* Smooth scrolling for navigation */
}

.machine-list::-webkit-scrollbar {
  height: 8px;
}

.machine-list::-webkit-scrollbar-thumb {
  background: #8B0000; /* Match theme color */
  border-radius: 10px;
}

.machine-list::-webkit-scrollbar-track {
  background: #333;
}

/* Individual machine card */
.machine-card {
  background-color: #1e1e1e; /* Darker background for card */
  border: 1px solid #333;
  border-radius: 12px;
  padding: 15px;
  min-width: 250px; /* Fixed width for uniform cards */
  flex: 0 0 auto; /* Prevent shrinking */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.machine-card h3 {
  font-size: 18px;
  color: #ffcc00; /* Highlighted color for the machine name */
}

.machine-card p {
  font-size: 14px;
  margin: 5px 0;
}

.machine-card button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ffcc00; /* Yellow button color */
  color: #000; /* Black text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.machine-card button:hover {
  background-color: #ffe066; /* Lighter yellow on hover */
}

/* Navigation arrows */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #8B0000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-arrow:hover {
  background-color: #ff6666;
}

.nav-arrow.left {
  left: 10px;
}

.nav-arrow.right {
  right: 10px;
}
